<a href="https://colab.research.google.com/github/arad1367/WAC/blob/main/session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Primary answer to BMI challenge

In [3]:
# BMI_score = weight / (height ** 2)
weight = float(input('Your weight please:(kg) '))
height = float(input('Your height please:(m) '))

BMI_score = weight / (height ** 2)

# print with bult in round function
print(f'Your BMI score is: {round(BMI_score, 2)}')

Your weight please:(kg) 80
Your height please:(m) 1.79
Your BMI score is: 24.97

In [2]:
number = 3.555555555
round(number, 2)

3.56

### Data structure in Python
* List (Mutable)
* Dictionary (Mutable)
* Sets
* Tuple

### List (List introduction, List slicing, list methods)

In [82]:
### What is a list? (list always start with 0 index)
basket_list = [3, 5.7, 'Budapest', [], [1, 23, [1, 3]], 'Paris', True]
basket_list

### Index in list , length of our list
len(basket_list)

### Index and position
basket_list[5]

'Paris'

In [16]:
### list slicing >>>> [start:stop:steps]
numbers = [1, 2, 5, 8, 10, 100, 200]

numbers[0:6:2]

numbers[:5]

numbers[::-1] # reverse a list without method

[200, 100, 10, 8, 5, 2, 1]

In [17]:
# List is mutable (Changable)

city = ['Tehran', 'Berlin', 'Gyor', 'Roma']

city[0] = 'Milan'

city

['Milan', 'Berlin', 'Gyor', 'Roma']

In [18]:
### List methods

city

['Milan', 'Berlin', 'Gyor', 'Roma']

In [23]:
### List methods : 1. append
city.append('Fuman')

### pop : you can make a new variable with pop

In [25]:
print(city)

new_city = city.pop()
print(new_city)
print(city)

['Milan', 'Berlin', 'Gyor', 'Roma', 'Shiraz', 'Shiraz', 'Shiraz', 'Shiraz', 'Fuman']
Fuman
['Milan', 'Berlin', 'Gyor', 'Roma', 'Shiraz', 'Shiraz', 'Shiraz', 'Shiraz']

In [26]:
# Insert
city.insert(0, 'Mashhad')
city

['Mashhad',
 'Milan',
 'Berlin',
 'Gyor',
 'Roma',
 'Shiraz',
 'Shiraz',
 'Shiraz',
 'Shiraz']

In [27]:
# remove
city.remove('Mashhad')
city

['Milan', 'Berlin', 'Gyor', 'Roma', 'Shiraz', 'Shiraz', 'Shiraz', 'Shiraz']

In [30]:
# count
city.count('Shiraz')

4

### Dictionary (key: values)

In [41]:
university_info = {
    'Name': 'MATE',  # 'key': value
    'Rank': 10,
    'Scores': [13, 15, 20, 18, [1000, 2000]]
}

university_info

{'Name': 'MATE', 'Rank': 10, 'Scores': [13, 15, 20, 18, [1000, 2000]]}

In [43]:
university_info['Scores'][2]
university_info['Scores'][4][1]

2000

In [33]:
# Check keys and values

university_info.keys()

dict_keys(['Name', 'Rank', 'Scores'])

In [36]:
university_info.values()

dict_values(['MATE', 10, [13, 15, 20, 18]])

In [37]:
# Access to our keys and values
university_info['Name']

'MATE'

# Sets

In [44]:
number_list = [1, 1, 1, 1, 2]

set(number_list)  # To find unique values

{1, 2}

In [47]:
# methods: sets {}

set1 = {1, 2, 3, 4, 5}
set2 = {3, 5, 10, 20, 33}

set1.difference(set2)
set1.intersection(set2)
set1.union(set2)

{1, 2, 3, 4, 5, 10, 20, 33}

### Tuple

In [50]:
number_tuple = (3, 9, 10) # immutable
number_tuple[2]

10

In [62]:
### logical operators (and, or, not)

True and False

True or False

not 0

shopping_list = ['PC', 'Laptop', 'car']

'Mobile' not in shopping_list

True

### conditions (if, elif, else)

In [64]:
import random

In [69]:
random_number = random.randint(1, 100)
print(f'Our random number is: {random_number}')

Our random number is: 36

In [72]:
random_number = random.randint(1, 100)

if random_number < 30:
  print(f'My number is: {random_number} and this number is too small')
elif random_number < 60:
  print(f'My number is: {random_number} and this number is not bad')
elif random_number < 80:
  print(f'My number is: {random_number} and this number is acceptable')
else:
  print(f'My number is: {random_number} and this number is awsome!')

My number is: 42 and this number is not bad

### A complete answer to BMI challenge

In [73]:
# BMI_score = weight / (height ** 2)
weight = float(input('Your weight please:(kg) '))
height = float(input('Your height please:(m) '))

BMI_score = weight / (height ** 2)

# Some conditions
if BMI_score <= 18.4:
  print(f'Your BMI score is: {round(BMI_score, 2)} and you are underweight')
elif BMI_score <= 24.9:
  print(f'Your BMI score is: {round(BMI_score, 2)} and you have normal weight')
elif BMI_score <= 39.9:
  print(f'Your BMI score is: {round(BMI_score, 2)} and you are Overweight')
else:
  print(f'Your BMI score is: {round(BMI_score, 2)} and you suffer Obese')

Your weight please:(kg) 86
Your height please:(m) 1.56
Your BMI score is: 35.34 and you are Overweight

### Loop (For, While)

In [75]:
for num in range(5): # 0, 1, 2, .. 10
  print(num)

0
1
2
3
4

### Example project : A password generator

In [81]:
password_list = []

for number in range(10):
  # produce a number between 0 to 9
  new_number = random.randint(0, 9)
  # append this number to my list
  password_list.append(str(new_number))

print(f'My password list is: {password_list} and len of the pass list is : {len(password_list)}')

# How we can convert a list to str
password_str = ''.join(password_list) # list members can not be a number > str
print(f'My password in str format is: {password_str}')

My password list is: ['5', '4', '9', '4', '3', '5', '8', '9', '6', '4'] and len of the pass list is : 10
My password in str format is: 5494358964